.filterBy_main_Div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d1fae5;
    border-radius: 0.5rem;
    height: 6vh;
    margin-left: 2rem;
    margin-right: 2rem;
   /* border-bottom: 1px solid black; */
}
.filterBy_main_Div button{
    border: none;
    background-color: transparent;
    margin-top: -1rem;
    padding-top: 0.5rem;
    
   
}
.filterBy_main_Div button:hover{
    cursor: pointer;
    font-size: medium;
}
.trending_post{
    margin-bottom: -1rem;
    color: #047857;
}