.user-header{
    border-bottom: 1px solid black;
    position: sticky;
    inset: 10% 0 100% 0;
    background-color: white;
    height: 8vh;
}
.h1_user{
    margin: auto;
}
.profile_header_div{
    display: flex;
    flex-direction: row;
   justify-content: center;
   background-color: #d1fae5;
   padding-top: 1rem;
   padding-bottom: 1rem;
}
.profile_header_img{
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
}
.name_header_div{
margin-left: 1.5rem;
line-height: 2px;
text-align: left;
}
.name_header_div h5{
    margin-top: -6rem;
    
}
.post_follower_divP{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #d1fae5;
}