.user-header{
    border-bottom: 1px solid black;
    position: sticky;
    inset: 10% 0 100% 0;
    background-color: white;
    height: 8vh;
}
.h1_user{
    margin: auto;
}
.profile_header_div{
    display: flex;
    flex-direction: row;
}
.profile_header_img{
    width: 3rem;
}